*{
    margin: 0;
    padding: 0;
    background-color: #6D9773;
    box-sizing:border-box;
    font-family:Source+Sans+Pro;
}
.container{
    display: flex;
    background-color:aquamarine;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height:100vh;
    flex-wrap: wrap;
}

